@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #2E3349;
    color:#E0EEEB;
  }
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  }

.header {
    display:flex;
    padding: 10px;
    justify-content:space-between;
    align-items:center;
}
.date-invis {
    margin-right:auto;
    visibility: hidden;
}
.title-name {
    align-self: center;
    font-weight: normal;
}
.date {
    margin-left:auto;
}
.container {
    display: flex;
    /* margin:10px;  */
}

.sidebar {
    /* margin: 2px; */
    /* padding: 2px; */
    flex-basis: auto;
    border-right: 3px solid #11AE96;
}

.todo-card {
    margin: 2px;
    padding: 2px;
    flex-basis:75%;
    display:flex;
    flex-direction:column;
    
}
input,textarea {
    width:100%;
    display:block;
    font-family: inherit;
}

.title-input {
    flex:0 0 auto;
    min-height:50px;
    font-size:xx-large;
    padding:10px;
    background-color: #252A40;
    color:#E0EEEB;
    outline:none;
    caret-color: #11AE96;
    border:none;
    border-bottom:1px solid #11AE96;
}

.content-area {
    flex:0 0 auto;
    min-height:800px;
    font-size:large;
    padding:10px;
    resize:none;
    background-color: #252A40;
    color:#E0EEEB;
    outline:none;
    caret-color: #7fd882;
    border:none;
    
}

.sidebar-header {
    display:flex;
    justify-content: flex-end;
    width:200px;
}
.actionbar {
    display:flex;
    flex-direction: column;
    width:50px;
    border: 1px solid #11AE96;
    
}
.add-todo_btn {
    background-color: transparent;
    border: transparent;
    color: white;
    font-size:35px;
    /* font-weight: bold; */
}

.add-todo_btn:active {
    color:red;
}

.save-todo_btn {
    background-color: transparent;
    border: transparent;
    color:white;
    font-size:35px;
}
.save-todo_btn:active {
    color:green;
}

.title-cards-sidebar {
    display: flex;
    flex-direction: column;
}
.title-card {
    display:flex;
    width:200px;
}

.title-card_btn {
    background-color:#181E36;
    color: lightslategray;
    text-align: left;
    /* padding-left: 20px; */
    padding: 40px 0px 40px 20px;
    border:none;
    height: 60px;
    width:100%;
    /* margin: 4px 4px; */
    /* border-radius: 4px; */
    /* border: 2px solid lightblue; */
    transition-duration: .2s;
}
.title-card_btn.is-selected {
    color:#11AE96;
    
}

/* .title-card_btn.is-selected {
    background-color:blue;
} */

.title-card_btn:hover {
    /* border: 2px solid lightseagreen; */
    color: #11AE96;
    transition-duration: 1s;
    /* transform: scale(1.008); */
}
.select-tab.is-selected {
    width:8px;
    background-color: #11AE96;
    border-radius: 10px 0px 0px 10px;
    /* transition-duration: .2s; */
}

.vertical-bar {
    width:5px;
    height:700px;
    background-image: linear-gradient(to bottom, #034c6d, #007c91, #00ac96, #7fd882, #f9f871);
}
  